@import './colors/mainColors.css';
@import './fonts/mainFonts.css';
@import './components/callToAction.css';
@import './components/routerLink.css';

body {
  background-color: var(--primary-bg-color);
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bg-color {
  background-color: var(--primary-bg-color);
}

.input-label {
  color: var(--secondary-content-color);
  font: 600 20px "Poppins", sans-serif;
}

.title-h1 {
  color: var(--main-primary-color);
  font: 700 48px "Poppins", sans-serif;
}

input {
  font: 600 20px "Poppins", sans-serif;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-content-color);
  color: var(--primary-content-color);
  min-width: 100%;
}

input:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.df {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}